.DS_Store
dist/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
/test/unit/coverage/
docs/
coverage
reports/
Head-First-Design-Patterns-master

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.log
*.tern-port

.env
